.container
  %h2= @board.title
  - @tasks.each do |task|
    = link_to board_task_path(@board,task.id) do
      .task-card
        - if task.eyecatch.attached?
          .card_image
            = image_tag task.eyecatch
        .task-card_title
          = task.title  
        .task-card_content
          = task.content
        .task-card_buttom
          .task-card_avatar
            = image_tag 'Oval.png', class: 'task-avatar'
          .comment-count
= link_to new_board_task_path do
  .task-float_btn
    %p +Add new card
  
