.container 
  %h2 All Boards
  - @boards.each do |board|
    .card
      .card_content
        .card_upper
          = link_to board_path(board) do
            .card_title
              = board.title
          .dropdown
            - if user_signed_in? && current_user.has_written?(board)
              = image_tag 'Combined Shape.png', class: 'dropdown'
              .dropdown-content
                =link_to 'Edit', edit_board_path(board)
                =link_to 'Delete', board_path(board), data: {method: 'delete', confirm: 'Are you sure to delete this board?'}
        = link_to board_path(board) do        
          .card_detail
            = board.content
          .card_auther_image
          = image_tag 'Oval.png', class: 'avatar-image'

  = link_to new_board_path do
    .float_btn
      %p +Add new board

